body {
	margin-left: 10%;
	margin-right: 10%;
	color: white;
	background-color: white;
}

body main {
	width: 100%;
	background-color: #000d1a;
	padding: 10%;
}

body main a {
	margin-top: 1%;
}

.widthButton{
	width: 100%;
	background-color: #001a33;
}

.btn-info{
	margin-left: 90%
}

#wall {
	padding: 5%;
	background-color: #001a33;
	border: 1px solid #000d1a;
	/*float: left;*/
	width: 100%;
	height: auto;
}

.thread{
	margin-top: 1%;
	padding: 2% 4% 2% 4%;
	background-color: #000d1a;
}