.titles {
    margin-top: 2%;
}

.comments {
    padding: 0.7%;
}

.glyphicon-thumbs-down {
    float: right;
}
.glyphicon-thumbs-up {
    float: right;
}

caption {
	color: white;
}

.navbar {
    clear: both;
}

a {
    color: #337ab7;
    text-decoration: none;
}

body {
    margin-top: 5%;
}

#secondNavbar {
    top:51px; 
    background-color:white;
    border-radius: 0% 0% 30% 30%;
}