body {
  padding-top: 5%;
	background-color: #000d1a;
  color: white;
}

a {
  color: white;
}

img {
  max-width: 100%;
}

.filters {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 0px grey solid;
  background-color: #001a33;
}

.filter {
  margin: 5% 0% 0% 0%;
}

.games {
  width: 66%;
  margin: 0.2% 0% 0% 0%;
	background-color: #001a33;
}

.games:hover {
  background-color: #00264d;
	color: white;
}

.well {
	background-color: #001a33;
}


.glyphicon-thumbs-down{
  color: red;
}

.glyphicon-thumbs-up{
  color: green;
}
