<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
	<script src="vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular pagination-->
	<script src="vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Angular Route -->
	<script src="vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- app -->
    <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/controller/index.js" type="text/javascript" xml:space="preserve"></script>
	<script src="js/controller/headerController.js" type="text/javascript" xml:space="preserve"></script>

	<!--model-->
	<script src="js/model/User.js" type="text/javascript" xml:space="preserve"></script>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/languages.min.css">

</head>
<body ng-controller="IndexController as IndexCtrl">

	<header ng-include="'view/header.html'"></header>

	<main>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h1 class="h1" translate="Featured Games"></h1>
					<hr>
				</div>
			</div>

		<!-- Carousel1 -->		
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<article>
						<div id="divCarousel" class="container">
							<div id="myCarousel" class="carousel slide" data-ride="carousel">

								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
									<li data-target="#myCarousel" data-slide-to="3"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item" ng-class="{'active': $index==0}" ng-repeat="game in games">
										<figure>
											<a href="{{indexRoute}}/~daw1703/view/gameProfile.html?id={{game.games_id_game}}"><img src="images/games/{{game.games_url_image}}/{{game.games_url_image}}" alt="{{game.games_name}}"></a>
											<figcaption> 
												<h3>{{game.games_name}}</h3> 
												<p>{{game.games_description}}</p> 
											</figcaption>
										</figure>
									</div>
								</div>

								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>


		<!-- Carousel2 -->		
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h1 id="title2" class="h1" translate="Latest Releases"></h1>
					<hr>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<article>
						<div id="divCarousel2" class="container">
							<div id="myCarousel2" class="carousel slide" data-ride="carousel">
								<ol class="carousel-indicators">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
									<li data-target="#myCarousel2" data-slide-to="3"></li>
								</ol>

								<!-- Indicators -->
								<div class="carousel-inner" role="listbox">
									<div class="item" ng-class="{'active': $index==0}" ng-repeat="game in gamesPublicationDate">
										<figure>
											<a href="{{indexRoute}}/~daw1703/view/gameProfile.html?id={{game.games_id_game}}"><img src="images/games/{{game.games_url_image}}/{{game.games_url_image}}" alt="{{game.games_name}}"></a>
											<figcaption> 
												<h3>{{game.games_name}}</h3> 
												<p>{{game.games_description}}</p> 
											</figcaption>
										</figure>
									</div>
								</div>

								<a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>

	</main>
</body>
</html>