<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>

	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angular pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Angular Route -->
	<script src="../vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/index.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/contact.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/headerController.js" type="text/javascript" xml:space="preserve"></script>

	<!-- Model -->
	<script src="../js/model/User.js" type="text/javascript" xml:space="preserve"></script>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/languages.min.css">

</head>
<body ng-controller="ContactController as ContactCtrl">	
	<header ng-include="'header.html'"></header>
	<main>
		<div class="container content">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h3 class="h3" translate="FILL THE FORM"></h3>
					<hr>
				</div>
			</div>
			<form method="post" name="contactManagement" novalidate ng-submit="NewGameAppCtrl.submit()">  

				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
								<input type="text" class="form-control" id="subject"  ng-model="contact.subject" placeholder="Enter the subject." />
							</div>
						</div>
					</div>  
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group">		        
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
								<textarea class="form-control" id="description" ng-model="contact.description" placeholder="Describe us your problem/question." rows="3"></textarea>
							</div>
						</div>
					</div>  
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<button type="submit" ng-click="ContactCtrl.submit()" class="btn btn-primary"><span class="glyphicon glyphicon-send" translate="Submit"></span></button>
						<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
					</div>  
				</div>
			</form>
		</div>
	</main>
</body>
</html>