<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angular pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Angular Route -->
	<script src="../vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/editUserPassword.css">
	<link rel="stylesheet" type="text/css" href="../../css/languages.min.css">

	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/index.js" type="text/javascript" xml:space="preserve"></script>

</head>
<body>	

	<header ng-include="'header.html'"></header>

	<main>
		<div class="container">
			<form>  
				<h3 class="h3" translate="USER PASSWORD"></h3>
				<hr>
				<div class="form-group">
               		<div class="input-group">
               			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				    	<input type="password" class="form-control" id="name" placeholder="Enter the OLD password."></input>
			    	</div>
		    	</div>
				<div class="form-group">
               		<div class="input-group">
               			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				    	<input type="password" class="form-control" id="name" placeholder="Enter the NEW password."></input>
			    	</div>
			    </div>
			  	<div class="form-group">
               		<div class="input-group">
	           			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input type="password" class="form-control" id="surname" placeholder="Repeat the new password.">
					</div>
				</div>  
				<hr>				
			  	<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send" translate="Submit"></span></button>
			  	<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
			</form>
		</div>
	</main>
</body>
</html>