<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angular pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--Favicon ico-->
	<link rel="icon" href="../images/favicon.jpg">
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/forum.css">
	<link rel="stylesheet" type="text/css" href="../css/languages.min.css">

	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/forum.js" type="text/javascript" xml:space="preserve"></script>

</head>
<body ng-controller="forumController as forumCtrl">

	<!-- HEADER -->	
	<header ng-include="'header.html'"></header>

	<main>		
		<h3 class="h3" translate="Forums"></h3>
		<hr>
		<a href="" class="btn btn-primary" type="submit" dir-paginate="forum in forums | itemsPerPage: pageSize" current-page="currentPage">
			<h4 class="h4"><i class="glyphicon glyphicon-envelope"></i> {{forum.forums_title}}</h4>
			<h6 class="h6"> 0 <i class="glyphicon glyphicon-comment"></i></h6> 			
		</a>
		<div  boundary-links="true">
	        <dir-pagination-controls boundary-links="true" template-url="dir-pagination-controls.html" ></dir-pagination-controls>
	    </div>
	</main>
</body>
</html>