<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angular pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/forum.css">

	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/index.js" type="text/javascript" xml:space="preserve"></script>

</head>
<body>

	<!-- HEADER -->	
	<header ng-include="'header.html'"></header>

	<main>		
		<h3 class="h3">Forum > The Witcher III</h3>
		<hr>
		<button class="btn btn-primary" type="submit">
			<h4 class="h4"><i class="glyphicon glyphicon-envelope"></i> Where is the first boss?</h4>
			<h6 class="h6">Blancafort | 0 <i class="glyphicon glyphicon-comment"></i></h6> 			
		</button>
		<button class="btn btn-primary" type="submit">
			<h4 class="h4"><i class="glyphicon glyphicon-envelope"></i> The game crashes at startup</h4>
			<h6 class="h6">Blancafort | 54 <i class="glyphicon glyphicon-comment"></i></h6> 			
		</button>
		<button class="btn btn-primary" type="submit">
			<h4 class="h4"><i class="glyphicon glyphicon-envelope"></i> Where is the witcher armor??</h4>
			<h6 class="h6">David | 89 <i class="glyphicon glyphicon-comment"> </i></h6> 			
		</button>
		<button class="btn btn-primary" type="submit">
			<h4 class="h4"><i class="glyphicon glyphicon-envelope"></i> I'm stuck in the second mission</h4>
			<h6 class="h6">Blancafort | 19 <i class="glyphicon glyphicon-comment"></i></h6> 			
		</button>
		<button class="btn btn-primary" type="submit">
			<h4 class="h4"><i class="glyphicon glyphicon-envelope"></i> Loading black screen</h4>
			<h6 class="h6">David | 39 <i class="glyphicon glyphicon-comment"></i></h6> 
		</button>
		<button class="btn btn-primary" type="submit">
			<h4 class="h4"><i class="glyphicon glyphicon-envelope"></i> I'm lost</h4>
			<h6 class="h6">David | 6 <i class="glyphicon glyphicon-comment"></i></h6> 			
		</button>
	</main>
</body>
</html>