<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/forumThread.css">

	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/index.js" type="text/javascript" xml:space="preserve"></script>

</head>
<body>
	
	<!-- HEADER -->	
	<header ng-include="'header.html'"></header>

	<main>
		<h1 class="h3">Forum > The Witcher III > Redania's Most Wanted (Massive glitch)</h1>
		<hr>
		<div class="thread">
			<h4 class="h4">Redania's Most Wanted (Massive glitch)</h4>			
			<p>	So i fast travelled from Junior's house which never triggered any of the following quests that lead you to the Assasination of
				I force started Redania's Most Wanted, all went well till game asked me to take crystal to, Radovid, Triss or Yennefer (None work, and Radovid i can't even get to, as the guard says nobody will be let on board)
				Help? xD
				Edit: I did the commands that classify the "A Favor for Radovid" as complete, and starts Redania's most wanted instantly.
				Wait, i got the message from Triss! wtf xD
				Now or never started, brb.</p>
				<br><h6 class="h6"><i class="glyphicon glyphicon-user"></i> Blancafort<br><i class="glyphicon glyphicon-time"></i> 14:42 23/02</h6>
		</div>
		<hr>
		<div class="thread">		
			<p>SOLVED!</p>
			<br><h6 class="h6"><i class="glyphicon glyphicon-user"></i>  Blancafort<br><i class="glyphicon glyphicon-time"></i> 14:23 23/02</h6>
		</div>
		<div class="thread">	
			<p>What was it?</p>
			<br><h6 class="h6"><i class="glyphicon glyphicon-user"></i> David<br><i class="glyphicon glyphicon-time"></i> 19:49 23/02</h6>
		</div>
		<div class="thread">	
			<p>Messenger started Now or Never and i was able to complete everything i needed before isle of mists</p>
			<br><h6 class="h6"><i class="glyphicon glyphicon-user"></i>  Blancafort<br><i class="glyphicon glyphicon-time"></i> 11:03 24/02</h6>
		</div>
		<hr>
        <div class="form-group">		        
       		<div class="input-group">
       			<span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
		  		<textarea class="form-control" id="description" placeholder="Write here tour answer." rows="3"></textarea>
	  		</div>
	    </div>
	  	<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Submit</button>
	  	<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
	</main>
</body>
</html>