<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angular pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Angular Route -->
	<script src="../vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!--Favicon ico-->
	<link rel="icon" href="../images/favicon.jpg">
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/languages.min.css">

	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/forum.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/headerController.js" type="text/javascript" xml:space="preserve"></script>

	<!--model-->
	<script src="../js/model/User.js" type="text/javascript" xml:space="preserve"></script>	

</head>
<body ng-controller="forumController as forumCtrl">

	<!-- HEADER -->
	<header ng-include="'header.html'"></header>
	<main>
		<div ng-if="showButtons==1">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3 class="h3" translate="Forums"></h3>
						<hr>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<a class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content align" dir-paginate="forum in forums | itemsPerPage: pageSize" current-page="currentPage" ng-href="#/forumThread" ng-click="forumCtrl.showTopics(forum.games_id_game)" type="submit" ng-model="idGame">
						<span class="h4"></i> {{forum.games_name}}</span><br>
						<span class="h6"> {{topicsArray[$index][0].Topics}} <i class="glyphicon glyphicon-comment"></i></span> 			
					</a>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div boundary-links="true">
								<dir-pagination-controls boundary-links="true" template-url="dir-pagination-controls.html"></dir-pagination-controls>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div ng-if="showButtons==0">
						<show-games-forums></show-games-forums>
					</div>
					<div ng-if="showButtons==2">
						<show-forum-threat></show-forum-threat>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>