<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angular pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Angular Route -->
	<script src="../vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/gameProfile.css">
	<link rel="stylesheet" type="text/css" href="../css/languages.min.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css">

	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/controller/headerController.js" type="text/javascript" xml:space="preserve"></script>
    <script src="../js/controller/gameProfile.js" type="text/javascript" xml:space="preserve"></script>

    <!--model-->
    <script src="../js/model/User.js" type="text/javascript" xml:space="preserve"></script>

</head>
<body ng-controller="gameProfileController as gameProfileCtrl">	

	<header ng-include="'header.html'"></header>

	<main>
		<div id="subHeader">
			<h4 class="h4">{{game[0].games_name}}</h4>
			<hr>
			<div id="subHeadBackgrd">
				<article>
					<div id="divCarousel" class="container">
							<div id="myCarousel" class="carousel slide" data-ride="carousel">

								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
									<li data-target="#myCarousel" data-slide-to="3"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item" ng-class="{'active': $index==0}" ng-repeat="thisGame in game">
										<figure>
											<img src="../images/games/{{thisGame.games_url_image}}/{{thisGame.games_id_game}}.{{$index+1}}.jpg" alt="{{thisGame.games_name}}">
										</figure>
									</div>
								</div>

						    <!-- Left and right controls -->
						    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						        <span class="sr-only">Previous</span>
						    </a>
						    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						        <span class="sr-only">Next</span>
						    </a>
						</div>
					</div>
				</article>

				<aside id="subHeaderAside">				
			      	<figure>
			        	<img src="../images/games/{{game[0].games_url_image}}/{{game[0].games_url_image}}" alt="{{game[0].games_url_image}}">
			        	<figcaption>
			        		<p>{{game[0].games_description}}</p>
			        	</figcaption>
			        </figure>
				</aside>
			</div>
		</div>

		<div id="information">
			<h4 class="h4">REQUIREMENTS</h4>
			<hr>

			<div id="requirements">
				<table class="table">
					<thead class="thead-inverse">
						<th></th>
						<th>MINIMUM</th>
						<th>RECOMMENDED</th>
					</thead>
					<tr>
						<td>OS</td>
						<td>{{game[0].games_requirements_os_min}}</td>
						<td>{{game[0].games_requirements_os_rec}}</td>
					</tr>
					<tr>
						<td>Processor</td>
						<td>{{game[0].games_requirements_processor_min}}</td>
						<td>{{game[0].games_requirements_processor_rec}}</td>
					</tr>
					<tr>
						<td>Memory</td>
						<td>{{game[0].games_requirements_memory_min}}</td>
						<td>{{game[0].games_requirements_memory_rec}}</td>
					</tr>

					<tr>
						<td>Hard Disk</td>
						<td>{{game[0].games_requirements_hd_min}}</td>
						<td>{{game[0].games_requirements_hd_rec}}</td>
					</tr>

					<tr>
						<td>Video Card</td>
						<td>{{game[0].games_requirements_video_card_min}}</td>
						<td>{{game[0].games_requirements_video_card_rec}}</td>
					</tr>

					<tr>
						<td>DirectX®</td>
						<td>{{game[0].games_requirements_directx_min}}</td>
						<td>{{game[0].games_requirements_directx_rec}}</td>
					</tr>
				</table>			
			</div>			
		  	<button type="submit" class="btn btn-primary" ng-click="gameProfileCtrl.addToShoppingCart(game[0].games_id_game)">{{game[0].games_price}}€ Add to cart</button>
		</div>

		<div id="valorations">
			<h4 class="h4">VALORATIONS</h4>
			<hr>
			<div class="thread" ng-repeat="thisGame in game">		
				<p>{{thisGame.reviews_text}}</p>
				<br><h6 class="h6"><i class="glyphicon glyphicon-user"></i> {{thisGame.users_username}}<br><i class="glyphicon glyphicon-time"></i> {{thisGame.review_datetime}}<i ng-if="thisGame.reviews_rating==1" class='glyphicon glyphicon-thumbs-up'></i><i ng-if="thisGame.reviews_rating==0" class='glyphicon glyphicon-thumbs-down'></i></h6>
			</div>
			<hr>
			<div ng-if="checkUser=='true'">
			<form  method="post" name="addReviewManagement" novalidate ng-submit="addReviewManagement.$valid && !gameProfileCtrl.checkAddReview()">
		        <div class="form-group">		        
		       		<div class="input-group">
		       			<span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
				  		<textarea class="form-control" id="reviewDescription" ng-model="gameProfileCtrl.reviewDescription" placeholder="Write here tour answer." rows="3" required></textarea>
			  		</div>
			    </div>
			    <button type="button" ng-click="likeButton=1; gameProfileCtrl.likeButtonValue(1)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
			    <button type="button" ng-click="likeButton=1; gameProfileCtrl.likeButtonValue(0)"><span class="glyphicon glyphicon-thumbs-down"></span></button><br/>
			  	<button type="button" class="btn btn-primary" name="insert_topic" value="ok" ng-disabled="addReviewManagement.$invalid || likeButton==0" ng-click="gameProfileCtrl.checkAddReview(gameProfileCtrl.reviewDescription)"><span class="glyphicon glyphicon-send"></span> Submit</button>
			</form>
		</div>
		<div ng-if="showAddReviewMessage==1">
			<hr>
			<div class="alert alert-success" translate="Your review has been saved!"></div>
		</div>
		<div ng-if="showAddReviewMessage==0">
			<hr>
			<div class="alert alert-danger" translate="¡Error! There has been an error with the review"></div>
		</div>
	</main>
</body>
</html>