<!DOCTYPE html>
<html ng-app="NewGameApp">
<head>
	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angular pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Angular Route -->
	<script src="../vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/headerController.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/register.js" type="text/javascript" xml:space="preserve"></script>

	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/languages.min.css">
	<title>Register</title>
</head>
<body ng-controller="NewGameAppController as NewGameAppCtrl">
{{log(register)}}
	<header ng-include="'header.html'"></header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h3 class='h3' translate="SIGN"></h3>
					<hr>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">					
					<form method="post" name="registerManagement" novalidate ng-submit="registerManagement.$valid && NewGameAppCtrl.submit()">
						<div class='form-group'>
							<div class='input-group'>
								<span class='input-group-addon'><i class='glyphicon glyphicon-user'></i></span>
								<input type='text' name='username' ng-model="register.username" class='form-control' ng-pattern="/[a-z][0-9]*$/" placeholder="Username*" required/>
							</div>
							<p ng-if="!register.username && !registerManagement.username.$pristine">Username must be with this format : [user, User, user123, User123]</p>
						</div>
						<div class='form-group'>
							<div class='input-group'>
								<span class='input-group-addon'><i class='glyphicon glyphicon-lock'></i></span>
								<input type='password' name='password' ng-model="register.password" class='form-control' placeholder="Password*">
							</div>
						</div>
						<div class='form-group'>
							<div class='input-group'>
								<span class='input-group-addon'><i class='glyphicon glyphicon-lock'></i></span>
								<input type='password' name='repeatpassword' ng-model="register.repeatpassword" class='form-control' placeholder="Repeat password*">
								<p ng-if="!(register.password === register.repeatpassword) && !registerManagement.username.$pristine"> Passwords do not match</p>
							</div>
						</div>
						<div class='form-group'>
							<div class='input-group'>
								<span class='input-group-addon'><i class='glyphicon glyphicon-envelope'></i></span>
								<input type='email' name='email' ng-model="register.email" class='form-control' placeholder="Email*">
							</div>
						</div>
						<hr>
						<button type="submit" class="btn btn-primary" name="insert_user" value="ok" ng-disabled="registerManagement.$invalid"><span class="glyphicon glyphicon-send"></span> Submit</button>
					</form>
					<div class="alert alert-success" ng-if="showConfirmationAlert==1">
  						<strong translate="Check your email, a confirmation link has been sent"></strong>
					</div>
				</div>
			</div>
		</div>
	{{log(register)}}
	</main>
</body>
</html>