<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Angular Route -->
	<script src="../vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angulacar pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/shop.css">
	<link rel="stylesheet" type="text/css" href="../css/languages.min.css">

	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/shop.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/headerController.js" type="text/javascript" xml:space="preserve"></script>
</head>
<body ng-controller="shopController as shopCtrl">
	
	<!-- HEADER -->	
	<header ng-include="'header.html'"></header>	

	<main>			
		<h3 class="h3" translate="SHOP"></h3>
		<hr>
		<!--<button class="btn btn-primary chivalry" type="submit">Chivalry medieval warfare</button>-->
		<div class="games" dir-paginate="game in games | itemsPerPage: pageSize" current-page="currentPage">	
			<figure>
				<a href="gameProfile.html">
					<img class="images" src="../images/games/{{game.games_url_image}}/{{game.games_url_image}}" alt="{{game.games_name}}">
					<figcaption>
						<h4 class="title h4">{{game.games_name}}</h4>
						<i class="rating" ng-if="game.games_rating==null">Not rated</i>
						<i ng-if="game.games_rating>=0.5" class='glyphicon glyphicon-thumbs-up rating'></i>
						<i ng-if="game.games_rating<0.5 && game.games_rating!=null" class='glyphicon glyphicon-thumbs-down rating'></i>
						<br><br><br>
						<button type="button" class="btn btn-primary btn-sm price h4">
							<span class="glyphicon glyphicon-shopping-cart"></span> {{game.games_price}} €
						</button>
					</figcaption>
				</a>	
			</figure>
		</div>
		<div  boundary-links="true">
	            <dir-pagination-controls boundary-links="true" template-url="dir-pagination-controls.html" ></dir-pagination-controls>
	    </div>
	</main>
</body>
</html>