<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>NewGame</title>
      <!--Frameworks-->
      <!--Bootstrap-->
      <link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
      <!--JQuery-->
      <script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
      <!--Angular-->
      <script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
      <!--Angular Translate-->
      <script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
      <script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
      <!-- Angular Route -->
      <script src="../vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
      <!--Angulacar pagination-->
      <script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
      <!--Angular-Bootstrap-->
      <script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
      <!-- Dropdown menu -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!-- app -->
      <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
      <script src="../js/controller/shop.js" type="text/javascript" xml:space="preserve"></script>
      <script src="../js/controller/headerController.js" type="text/javascript" xml:space="preserve"></script>
      <!-- Model -->
      <script src="../js/model/Game.js" type="text/javascript" xml:space="preserve"></script>
      <script src="../js/model/User.js" type="text/javascript" xml:space="preserve"></script>
      <!-- Css -->
      <link rel="stylesheet" type="text/css" href="../css/common.css">
      <link rel="stylesheet" type="text/css" href="../css/shop.css">
      <link rel="stylesheet" type="text/css" href="../css/languages.min.css">
   </head>
   <body ng-controller="shopController as shopCtrl">
      <!-- HEADER -->	
      <header ng-include="'header.html'"></header>
      <main>
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <h3 class="h3" translate="SHOP"></h3>
                  <hr>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="" dir-paginate="game in filteredData | itemsPerPage: pageSize" current-page="currentPage">
                     <figure>
                        <a href="gameProfile.html?id={{game.getIdGame()}}">
                           <div class="row games">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                 <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
                                    <img src="../images/games/{{game.getUrlImage()}}/{{game.getUrlImage()}}" alt="{{game.getName()}}">
                                 </div>
                                 <figcaption>
                                    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-5 textContainerShop">	
                                       <span>{{game.getName()}}</span>
                                    </div>
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 textContainerShop">	
                                       <i ng-if="game.getRating()>=0.5" class='glyphicon glyphicon-thumbs-up' ></i>
                                       <i ng-if="game.getRating()<0.5 && game.getRating()!=null" class='glyphicon glyphicon-thumbs-down'></i>
                                    </div>
                                 </figcaption>
                                </a>
                                <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2 priceButton">
                                    <div class="btn btn-primary" ng-click="shopCtrl.addToShoppingCart(game.getIdGame())">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> {{game.getPrice()}} €
                                    </div>
                                </div>
                              </div>
                           </div>
                     </figure>
                  </div>
                  <div id="pagination" boundary-links="true">
                     <dir-pagination-controls boundary-links="true" template-url="dir-pagination-controls.html" ></dir-pagination-controls>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 filters">
                     <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter">
                           <label class="control-label" for="genre" translate="Genres filter"></label><br>
                           <div ng-repeat="genreRequest in genreRequests">
                              <input type="radio" name="genre" id="genre" ng-model="genreSearch" ng-click="showGenre(genreRequests[$index].genders_id_gender)" value="{{genreRequests[$index].genders_id_gender}}" />  {{genreRequests[$index].genders_name}}
                           </div>
                        </div>
                     </div>
                     <br>
                     <hr>
                     <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 filter">
                           <label class="control-label" for="price" translate="Price filter"></label><br>
                           <input type="range" name="price" id="price" ng-model="priceSearch" min="0" max="70"/> <br>
                           <input type="number" name="price" id="price" class="well" ng-model="priceSearch" min="0" max="70"/>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </body>
</html>