<!DOCTYPE html>
<html lang="en" ng-app="NewGameApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>NewGame</title>


	<!--Frameworks-->
	<!--Bootstrap-->
	<link href="../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
	<!--JQuery-->
	<script src="../vendors/jquery/jquery-3.1.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-->
	<script src="../vendors/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular Translate-->
	<script src="../vendors/angular-translate/angular-translate.js" type="text/javascript" xml:space="preserve"></script>
  	<script src="../vendors/angular-translate/angular-translate.min.js" type="text/javascript" xml:space="preserve"></script>
  	<!--Angular pagination-->
  	<script src="../vendors/angular/dirPagination.js" type="text/javascript" xml:space="preserve"></script>
	<!--Angular-Bootstrap-->
	<script src="../vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Angular Route -->
	<script src="../vendors/angular-route/angular-route.js" type="text/javascript" xml:space="preserve"></script>
	<!-- Dropdown menu -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/userProfile.css">
	<link rel="stylesheet" type="text/css" href="../css/languages.min.css">
	<!-- app -->
    <script src="../js/app.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/index.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/generalFunctions.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/userProfile.js" type="text/javascript" xml:space="preserve"></script>
	<script src="../js/controller/headerController.js" type="text/javascript" xml:space="preserve"></script>
	<!--model-->
	<script src="../js/model/User.js" type="text/javascript" xml:space="preserve"></script>

</head>
<body ng-controller="UserProfileController as UserProfileCtrl">	

	<header ng-include="'header.html'"></header>

	<main>	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">		
					<h3 class="h4" translate="USER PROFILE">USER PROFILE</h3>
					<hr>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">	
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<img src="../images/profile/{{user_image.users_image}}" alt="profile">
						<!--<img src="../images/profile/defaultImage.svg" alt="profile" ng-if="user_image==''">-->
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
						<ul>
							<li><h4><span class="h4" translate="Username"></span><small>&nbsp&nbsp&nbsp{{username.users_username}}</small></h4></li>
							<li><h4><span class="h4" translate="Country"></span><small></small></h4></li>
							<li><h4><span class="h4" translate="Province"></span><small></small></h4></li>
							<li><h4><span class="h4" translate="Language"></span><small>&nbsp&nbsp&nbsp{{language}}</small></h4></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">	
					<h3 class="h4">PURCHASED GAMES</h3>
					<hr>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">	
					<h3 class="h4">FRIENDS LIST</h3>
					<hr>
				</div>
			</div>
		</dav>
		<div class="container">
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ">	
					<div class="images" ng-repeat="image in images">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<figure class="content align">
								<img class="images" src="../images/games/{{image.games_url_image}}/{{image.games_url_image}}" alt="{{image.games_name}}">
								<figcaption>
									{{image.games_name}}
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<ul class="content">
						<li ng-repeat="friend in friends">{{friend.users_username}}</li>
					</ul>						
				</div>
			</div>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">	
					<div ng-if="messages!=null">
						<h4 class="h4">WALL</h4>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<div class="row">
					<div dir-paginate="message in messages | itemsPerPage: pageSize" current-page="currentPage">	
						<div class="content">
							<p>{{message.messages_text}}</p>
							<br><h6 class="h6"><i class="glyphicon glyphicon-user"></i>{{message.users_username}}<br><i class="glyphicon glyphicon-time"></i> {{message.messages_datetime}}</h6>
						</div>
					</div>
					<div class="text-left" boundary-links="true">
						<dir-pagination-controls boundary-links="true" template-url="dir-pagination-controls.html"></dir-pagination-controls>
					</div>
					<div ng-if="showMessagesForm==1">
						<hr>
						<form  method="post" name="addWallManagement" novalidate ng-submit="addWallManagement.$valid && !UserProfileCtrl.insertIntoUserWall()">
			        <div class="form-group">		       
                     <div class="input-group">
			       			<span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
					  		<textarea class="form-control" id="messageWall" ng-model="UserProfileCtrl.messageWall" placeholder="Write here tour answer." rows="3" required></textarea>
				  		</div>
				    </div>				    
				  	<button type="button" class="btn btn-primary" name="insert_topic" value="ok" ng-disabled="addWallManagement.$invalid || likeButton==0" ng-click="UserProfileCtrl.insertIntoUserWall(UserProfileCtrl.messageWall)"><span class="glyphicon glyphicon-send"></span> Submit</button>
				</form>
					</div>
					<div ng-if="showAddWallMessage==1">
				<hr>
				<div class="alert alert-success" translate="Your message has been saved!"></div>
			</div>
			<div ng-if="showAddWallMessage==0">
				<hr>
				<div class="alert alert-danger" translate="¡Error! There has been an error with the message"></div>
			</div>
				</div>
			</div> 	
		</div> 	
	</main>
</body>
</html>